
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(76, 29, 29);
    color:antiquewhite;
    text-align: center;
}
nav a:hover{
    color: red;
}
nav a{
    background-color: beige;
    padding: 20px;
    margin: 2px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
}

img {
    max-width: 100%;
}

header{
    margin-left: 30%;
    margin-right: 30%;
    background-color: grey;
    margin-top: 2%;
    padding: 1%;
    font-size: 200%;
} 

.cards {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin: 2em auto;
}
.cards .card{
    transition: 1s ease;
}
.cards a:hover{
    color: red;
}
.cards a{
    color:rgb(79, 255, 123);
}
.card{
    display: grid;
    grid-template-rows: max-content 400px 1fr;
    border: 5px solid black;
    border-radius: 3px;
    background-color: rgb(36, 78, 110);

} 
.card img {
    width: 520px;
    height: 250px ;
    object-fit: fill;
    border: 2px solid black;

}
.card h2{
    margin: 0;
    padding: 0;

}
.card .content{
    padding: 5%;
}

.card footer{
    background-color:#333;
    color: #fff;
    padding: 0.5rem;
}
.cards .card:hover{
    transform: scale(0.9);
}
.logo{
    max-width: 25%;
}
footer{
    background-color: rgb(51, 7, 7);
}
.c4 p{
    padding: 30px 20px 20px 20px;
    font-size: 15px;
    
}
.c4 h2{
    margin-top: 10px;
    font-size: 40px;
}
.c3 p{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
    
}
.c3 h2{
    margin-top: 10px;
    font-size: 40px;
}
.c2 p{
    padding: 30px 20px 20px 20px;
    font-size: 25px;
    
}
.c2 h2{
    margin-top: 10px;
    font-size: 40px;
}
.c1 p{
    padding: 30px 20px 20px 20px;
    font-size: 25px;
}
.c1 h2{
    margin-top: 10px;
    font-size: 25px;
}
@media (width < 550px){
    .cards{
        margin: 1em 2em;
    }
}
