*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img1, .img2{
    width: 350px;
    align-content: center;
}
body{
    /* display: grid; */
    background-color: rgb(76, 29, 29);
    color:antiquewhite;
    /* text-align: center; */

}
nav a:hover{
    color: red;
    background-color: grey;
}
nav a{
    background-color: beige;
    padding: 0.5rem;
    margin: 2px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 1rem;
    display:block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.nav{
    /* display: grid; */
    grid-area: nav;
    /* grid-template-columns: repeat(3, 1fr);
    padding: 1%; */
}

.nav ul {
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}




header{
    grid-area: header;
    margin-left: 30%;
    margin-right: 30%;
    background-color: grey;
    margin-top: 2%;
    padding: 1%;
    font-size: 200%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "header header"
    "nav nav"
    "event event"
    "about about"
    "history img2"
    "footer logo";
}
.img1{
    grid-area: img1;
    height: fit-content;
    align-content: center;
}
.img2{
    grid-area: img2;
    height: fit-content;
    align-content: center;
}
.event{
    grid-area: event;
    padding-top: 5%;
    padding-bottom: 5%;
}
.about{
    height: fit-content;
    grid-area: about;
}
.history{
    grid-area: history;
    height: fit-content;
}
footer{
    padding-top: 5%;
    grid-area: footer;
}
.logo{
    max-width: 25%;
}
.logo2 img{
    width: 5%;
    margin-left: 94%;
}
.logo2{
    grid-area: logo;
    margin-top: 4%;
}

@media(width < 650px){
    header{
        font-size: 100%;
    }
    .img1, .img2{
        max-width: 75%;
        align-content: center;
    }
    p{
        padding: 2% 10% 5% 5%;

    }
}