

body{
    text-align: center;
    background-color: rgb(82, 82, 82);
    color:aliceblue;
    margin: 0;
    padding: 0;
}

/* Food page */
img {
    max-width: 100%;
}

.cards {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 2em auto;
    

}
.cards .card{
    transition: 1s ease;
}
.card{
    display: grid;
    grid-template-rows: max-content 400px 1fr;
    border: 5px solid black;
    border-radius: 3px;
} 
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 2px solid black;

}
.card h2{
    margin: 0;
    padding: 0;

}
.card .content{
    padding: 5%;
}

.card footer{
    background-color:#333;
    color: #fff;
    padding: 0.5rem;
}
.cards .card:hover{
    transform: scale(0.9);
}

@media (width < 550px){
    .cards{
        margin: 1em 2em;
    }
}